
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --font-base: 'Leend', sans-serif;
  --fonct-second-base: 'Inter', sans-serif;
  /* --bg-color: #111; */
  --primary-color: #ffffff;
  --secondary-color: #e50914;
}
*{
  padding: 0;
  margin: 0;
}
body {
  background: #111;
}